nav {
  height: 120 px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex; 
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

.logo {
  font-family: "Bungee";
}
