label {
  width: 100%;
}

button { 
  background-color: #4056A1;
  font-family: "Bungee";
  color: white;
}


#tweet-text {
  background: transparent;
  border: 0;
  border-bottom: 3px solid;
  resize: none;
  width: 100%;

}

.counter  {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
}

form div {
  width: max-content; 
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
